body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 50px;
  padding-right: 5px;
}

.songlist {
  color: azure;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 75vh;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding-top: 10px;
  padding-left: 5px;
  background-image: url(bg.jpg);
  background-size: 100% 100%;
}

.container url {
  min-height: 500px;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  flex-direction: column;
}

#progressbar {
  width: 80vw;
  text-align: center;
  cursor: pointer;
}

.icons {
  padding-top: 10px;
}

.icons i {
  cursor: pointer;
}

.songitem {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}

.songitem img {
  width: 40px;
  margin: 0 23px;
  border-radius: 34px;
}

.times {
  margin: 0 23px;
  text-align: center;
  
}

.times i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
}

.songinfo img{
  opacity: 0;
  transition: opacity is ease-in;
}

